<br><br>
<br>

    <div class="jumbotron">
      <h1>Task Me!</h1>
      <p class="lead">Take control and manage your personal and professional to-do list with the Task Me! web application.</p>
      <p> 
      <%= link_to "Register Now", new_user_registration_path, class: 'btn btn-lg btn-success' %> or
      <%= link_to "Login to your account", new_user_session_path, class: 'btn btn-lg btn-success' %>
      </p>
      </div>
    </div> 
  </body>
</html>


